@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFDFB;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #1A1D21;

  --primary-accent: #e5c230;
  --secondary-accent: #2E3238;
  --foreground-accent: #454545;
  --hero-background: #F3F3F2;

  --card: #ffffff;
  --border: #E5E5E2;
  --muted-foreground: #6B6B68;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-display {
  font-family: var(--font-oswald), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}